DB_ENGINE=django.db.backends.engine
DB_NAME=skymarket
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=password
EMAIL_PORT=587

CORS_ALLOWED_ORIGINS=first,second,...
CSRF_TRUSTED_ORIGINS=first,second,...
